<body>
    <h1>
        Welcome to our app, <%= user_name %>!
    </h1>
    <p>
        We're excited to have you on board.
    </p>
    <p>Your email verification OTP:
        <b>
            <%= emailOTP %>
        </b>
    </p>
</body>